@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --zone-root: #312E81;
  --zone-root-light: #E8E3FC;
  
  --zone-tld: #075985;
  --zone-tld-light: #E0F2FE;
  
  --zone-domain: #065F46;
  --zone-domain-light: #DCF9E7;
  
  --zone-subdomain: #831843;
  --zone-subdomain-light: #FCE7F3;
}